.card {
  background-color: #f2f2f2;
  width: 300px;
  border: 1px thin black;
  font-family: "Roboto", "Havetica", "Arial", sans-serif;
  height: 400px;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  margin: 10px;
}
.card div {
  border: 1px solid black;
}

.card_header {
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.card_body {
  padding: 3%;
  text-align: left;
  display: grid;
  grid-template-rows: 5fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "hash hash"
    "hash hash"
    "hash hash"
    "by by"
    "at update";
}

.hash {
  grid-area: hash;
  font-size: 20px;
  word-wrap: break-word;
}
.by {
  grid-area: by;
  margin-bottom: 20px;
}
.at {
  grid-area: at;
}
.update {
  grid-area: update;
}

.card_footer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 2%;
  column-gap: 3px;
}
.item1 {
  border: 1px solid black;
}
.item2 {
  border: 1px solid black;
  border-radius: 50%;
}

.button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #f44336;
}
